{% extends 'accounts/base_generic.html' %}

{% block content %}
    <h2>Todos los Blogs</h2>

    <a href="{% url 'welcome' %}" class="btn btn-secondary">Volver a inicio</a>

    <ul>
        {% for blog in blogs %}
            <li>
                <h3>{{ blog.title }}</h3>
                {% if blog.image %}
                    <img src="{{ blog.image.url }}" alt="Imagen de {{ blog.title }}" style="max-width: 300px; height: auto;">
                {% endif %}
                <p>{{ blog.content|truncatewords:30 }}</p>
                <p><strong>Autor:</strong> {{ blog.author.username }}</p>
                <p><strong>Fecha:</strong> {{ blog.created_at }}</p>
                <a href="{% url 'blog_detail' blog.id %}" class="btn btn-primary">Leer más</a>
            </li>
            <hr>
        {% empty %}
            <p>No hay blogs disponibles.</p>
        {% endfor %}
    </ul>

    {% if blog.image %}
    <img src="{{ blog.image.url }}" alt="Imagen de {{ blog.title }}" width="300">
{% else %}
    <p>No hay imagen disponible</p>
{% endif %}
{% endblock %}